.logo {
	border-radius: 5px;
}

.header-sitename {
	font-size: 2em;
	color: #fff;
}

.search-input {
	border: 1px solid #fff;
}

.search-results {
    background-color: #fff;
}

.header-right .btn {
	border: 1px solid #fff;
}

.chroma {
    overflow: auto
}

.fa {
    margin-right: 5px;
}

.card .card-footer {
	display: none;/*date of cards*/
}

/* RESPONSIVE */

@media screen and (max-width: 1300px) {
	.header {
		text-align: center;
	}
	.header-right {
		float: none;
		display: inline-block;
		margin: 5px 20px;
	}
}

@media screen and (max-width: 450px) {
	.header-sitename {
		font-size: 1.5em;
    }
    .header-right {
		display: none;
	}
}